h1 Mini Message Board!
button
    a(href="/new") Post Message!
ul
    each message in messages
        li.msg-container
            .msg-txt= message.text
            .msg-usr= message.user 
            .msg-date= message.added