ul.msg-list{
    margin: 0;
    padding: 0;
    list-style-type: none;

    min-width: 512px;
    min-height: 384px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around; 
    align-content: center;

    border: solid thin lightgray;
    border-radius: 8px;
}

li.msg-container{
    display: grid;
    grid-template-areas: 
        "text text"
        "author date";
    row-gap: 14px;

    padding: 32px 24px;
    border-bottom: solid thin lightgray;
}

ul.msg-list > li:last-of-type{
    border-bottom: none;
}

li.msg-container:hover{
    background-color: rgb(231, 231, 231);
}

li.msg-container:first-of-type:hover{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

li.msg-container:last-of-type:hover{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

li.msg-container > .msg-txt{
    grid-area: text;
    font-size: 24px;
}
li.msg-container > .msg-author{
    grid-area: author;
}
li.msg-container > .msg-date{
    grid-area: date;
    justify-self: end;
}
.msg-author, .msg-date{
    color: rgb(114, 114, 114);
}